<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enlaza dgt</title>
    <!-- Font Awesome -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/fontRope.css" type="text/css" charset="utf-8">
    <link href="/css/vendor/select2.min.css" rel="stylesheet" />
    <!--link href="/css/bootstrap-wysihtml5-0.0.02.css" rel="stylesheet" /-->
    <link href="/css/jumbotron.css" rel="stylesheet" />


</head>


<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-warning" href="#">Enlaza dgt</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <form class="form-inline">
                    <p class="nav-item">

                        {{#if currentUser}}
                        {{currentUser.email}}
                        <a id="logout" href="/logout" class="nav-link"><i class="fas fa-user"></i>logout</a>

                        {{else}}

                        <a id="login" href="#" class="nav-link"><i class="fas fa-user"></i>login</a>

                        {{/if}}

                    </p>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            A
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Oficina</a>
                            <a class="dropdown-item" href="#">Exportar ...</a>
                            <a class="dropdown-item" href="#">Importar ...</a>
                            <a id="usuario" class="dropdown-item" href="#">Permisos</a>

                        </div>
                    </div>


                    <select id="categoria" class="custom-select my-1 mr-sm-2">
                        {{#with treeCategorias}}
                        <option value="{{id}}">{{margen depth}}{{id}}</option>
                        {{> listaOpciones}}
                        {{/with}}
                    </select>

                </form>
            </ul>
        </div>
    </nav>


    <div id="principal" class="container-fluid">
        <div class="row">

            <div id="jumbotron" class="col col-lg-3 float-left">
                <ul class="accordion">
                    {{#with treeTipos}}
                    {{> jumbotron}}
                    {{/with}}
                </ul>
            </div>

            <div class="col col-lg-9 float-right">
                <div class="row">
                    {{#if flash}}
                    <div class="alert alert-dismissible alert-{{error}}">
                        {{#each error}}
                        <p>{{this.msg}}</p>

                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                <article id="listaRecursos"></article>
            </div>

        </div>
        <div class="row">
            <footer>
                <p>{{nombreOficina}}.{{usuario}}</p>
            </footer>
        </div>
    </div>



    <!-- ENLAZA --------------------------------------------->

    <div class="modal col-lg-6 " id="modalEnlaza">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Enlaza</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="frmEnlaza" action="/recurso/enlaces/" method="POST">

                        <div class="form-group">
                            <label for="sujeto">sujeto</label>
                            <input type="text" name="sujeto" class="form-control" id="sujeto">
                            <input type="text" name="nombre" class="form-control" id="nombre">
                        </div>

                        <div class="form-group">
                            <select id="relaciones" name="relacion" class="form-control">

                            </select>
                        </div>

                        <div class="form-group">
                            <select id="categorias" class="form-control">

                            </select>
                        </div>

                        <div class="form-group">
                            <select id="recursos" name="recurso" size="15" class="form-control" multiple>

                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="Aceptar" class="btn btn-primary">Grabar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

                        </div>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>


    <!-- LOGIN --------------------------------->

    <div class="modal col-lg-4" id="modalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">login</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="frmLogin" class="px-2 py-2" method="post" action="/login">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" name="email" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- TIPO ------------------------------------------------>

    <div class="modal col-lg-6" id="modalTipo">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 id="tipo-codigo" class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <form id="frmTipo" method="post" action="/admin/tipo/">
                        <input type="text" id="tipo-id" name="codigo" disabled>
                        <div class="form-group">
                            <select id="permitidos" name="tiposPermitidos[]" multiple size="10"></select>
                        </div>

                        <div class="form-group">

                            <button type="submit" class="btn btn-primary">Grabar</button>
                            <button id="Cancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- USUARIO ------------------------------------------------>

    <div class="modal col-lg-4" id="modalUsuario">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">USUARIO</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="frmUsuario" class="px-2 py-2" method="post" action="/admin/usuario">

                        <div class="form-group">
                            <label for="email" class="control-label">email:</label>
                            <input type="text" class="form-control" name="email" value="\{{email}} ">
                        </div>
                        <div class="form-group">
                            <label for="nombre" class="control-label">nombre:</label>
                            <input type="text" class="form-control" name="nombre" value="{{nombre}} disabled">
                        </div>
                        <div class="form-group">
                            <label for="apellidos" class="control-label">apellidos:</label>
                            <input type="text" class="form-control" name="apellidos" value="{{apellidos}}">
                        </div>
                        <div class="form-group">
                            <label for="DNI" class="control-label">dni:</label>
                            <input type="text" class="form-control" name="DNI" value="{{DNI}}">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">password:</label>
                            <input type="text" class="form-control" name="password" value="{{password}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="admin" value="{{admin}}">
                            <input type="text" class="form-control" name="OI" value="{{oi}}">
                            <input type="text" class="form-control" name="OAT" value="{{oat}}">
                        </div>


                        <button id="Cancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/popper/popper.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="/js/vendor/d3.js"></script>
    <!--script type="text/javascript" src="/js/vendor/all.min.js"></script-->
    <!--load all styles -->
    <script src="/js/vendor/select2.min.js"></script>
    <script src="/js/vendor/handlebars-v4.1.2.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/recursos.js"></script>
    <script src="/js/enlaza.js"></script>
    <script src="/js/admin.js"></script>

    <script>
        $(document).ready(function () {
            $('#modalRecurso').modal({ show: false });
            $('#modalEnlaza').modal({ show: false });
            $('#modalLogin').modal({ show: false });
            $('#modalTipo').modal({ show: false });
            $('#modalUsuario').modal({ show: false });
        });
    </script>




    <script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();

            $('#categorias').select2();

        });
    </script>

    <script src="/js/vendor/jquery.ui.widget.js"></script>
    <script src="/js/vendor/jquery.iframe-transport.js"></script>
    <script src="/js/vendor/jquery.fileupload.js"></script>
    <script src="/js/vendor/jquery.fileupload-process.js"></script>
    <script src="/js/vendor/jquery.fileupload-validate.js"></script>
    <!--script src="/js/jquery.fileupload.jquery-ui.js"></--script-->
    <script src="/js/upload.js"></script>
    <script src="/js/boe.js"></script>
    <script src="/js/vendor/wysihtml5/bootstrap-wysihtml5-0.0.2.js"></script>


    <!-- RECURSO ---------------------------------------------->
    <script type="text/x-handlebars" id="templateRecurso">

<div class="modal col-lg-4" id="modalRecurso">
    <div class="modal-dialog">
        <div class="modal-content">
                <!-- Modal Header -->
        \{{ #with recurso }}
                <div class="modal-header">
                    <h4 class="modal-title">Recurso</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                    <div class="form-group" style="background-color: lightblue" >
                        <span class="h2">\{{ tipo }}</span>
                        <span class="h2 float-right">\{{ categoria }}</span>
                    </div>
                
                </div>
                
               <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <div class="form-group">
                        <div class="col col-2">
                            <label for="etiqueta" class="control-label">etiqueta:</label>
                            <input type="text" class="form-control" maxlength="20" name="etiqueta" value="{{etiqueta}}"></input>
                        </div>
                        <div class="col col-7">
                            <label for="nombre" class="control-label">nombre:</label>
                            <input type="text" class="form-control" name="nombre" value="{{nombre}}"></input>
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <label for="descripcion" class="control-label">descripción:</label>
                        <textarea class="form-control" name="descripcion" id="demo" cols="80" rows="8">
                            \{{ descripcion }}
                        </textarea>
                    </div>
               
        \{{ #if_eq urlTipo '/recurso/agente/persona'}}
                <div class="row">
                <div class="col">
                        <label for="paginaWeb" class="control-label">página Web:</label>
                        <input type="text" class="form-control"  name="paginaWeb" value="{{paginaWeb}}">
                    </div>
                    <div class="col">
                        <label for="email" class="control-label">Email:</label>
                        <input type="text" class="form-control"  name="email" value="{{email}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="telefono1" class="control-label">Teléfono 1:</label>
                        <input type="text" class="form-control"  name="telefono1" value="{{telefono1}}">
                    </div>
                    <div class="col">
                        <label for="telefono2" class="control-label">Teléfono 2:</label>
                        <input type="text" class="form-control"  name="telefono2" value="{{telefono2}}">
                    </div>
                    <div class="col">
                        <label for="fax" class="control-label">Fax:</label>
                        <input type="text" class="form-control"  name="fax" value="{{fax}}">
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="direccion" class="control-label">dirección:</label>
                        <input type="text" class="form-control"  name="direccion" value="{{direccion}}">
                    </div>
                    <div class="col">
                        <label for="DP" class="control-label">DP:</label>
                        <input type="text" class="form-control"  name="DP" value="{{DP}}">
                    </div>
                    <div class="col">
                        <label for="poblacion" class="control-label">Población:</label>
                        <input type="text" class="form-control"  name="poblacion" value="{{poblacion}}">
                    </div>
                </div>


        \{{/ if_eq}}

        \{{ #if_eq urlTipo '/recurso/texto'}}
            <div class="row">
                <div class="col">
                    <div id="Uploads"></div>
                </div>
                <div class="col">
                    <label for="url" class="control-label">url:</label>
                    <input type="text" class="form-control"  name="url" value="\{{url}}">
                </div>
                <div class="col">
                    <label for="procedencia" class="control-label">procedencia:</label>
                    <input type="text" class="form-control"  name="procedencia" value="\{{procedencia}}">
                </div>

                <!--div class="col col-2">
                    <label for="fecha" class="control-label">creado:</label>
                    <input type="text" class="form-control"  name="fecha" value="{{moment fecha format="DD/MM/YYYY" }}">
                </div-->
                <div class="row">
                    <!--label for="documento" class="control-label">documento</label-->
                    <div class="col">
                        <span class="btn btn-default btn-file">
                            <input id="fileupload" type="file"  name="documento" class="form-control" data-url="/upload">
                        </span>
                    </div>
                </div>
            </div>
                       
        \{{/ if_eq}}

        \{{ #if_eq urlTipo '/recurso/legal/norma' }}
            <div class="row">
                <div class="col">
                    <label for="codBoe" class="control-label">ley Boe</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <input id="codBoe" type="text" class="form-control"  name="codBoe" value="{{codBoe}}">
                </div>
                <div class="col" col-9>
                    <select id="tituloLey" class="form-control"  name="tituloLey">
                        {{#each leyes}}
                            <option value="/{{titulo}}"></option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-3">
                    <label for="posicion" class="control-label">posición:</label>
                    <input type="text" class="form-control"  name="posicion" value="{{posicion}}">
                </div>
                <div class="col col-2">
                    <label for="pagina" class="control-label">página:</label>
                    <input type="text" class="form-control"  name="pagina" value="{{pagina}}" >
                </div>
                <button id="Ver" type="button" onclick="verBoe()" class="btn">Ver Boe</button>
            </div>  
        \{{/ if_eq}}

        \{{ #if_eq urlTipo '/recurso/legal/tasaSancion'}}
            <div class="col col-3">
                <label for="euros" class="control-label">$:</label>
                <input type="text" class="form-control"  name="euros" value="/{{euros}}">
            </div>
                
        \{{/ if_eq}}


            <div class="form-group">
                <button type="button" onclick="postRecurso()" class="btn btn-primary">Grabar</button>
                <button type="button" class="btn btn-secundary" onclick="">Cancelar</button>

            </div>
                <input type="hidden" class="form-control" name="tipo" value="{{tipo}}">
                <input type="hidden" class="form-control" name="categoria" value="{{categoria}}">
            </div> 
        </div>   
    </div>
    \{{/with}}

</div>
</script>













</body>

</html>