<p class="card-text"><span>\{{codBoe}}</span><span>\{{titulo}}</span></p>
<p class="card-text"><span>posicion:\{{posicion}}</span></p>
<p class="card-text">pagina:\{{pagina}}</p>
<a class="btn btn-secondary" href="\{{codBoe}}">Ir BOE</a>