{{#each children}}
<li class="nav-item">

    <div class="titulo">
        <a class="btn btn-primary data" data-toggle="collapse" href="#{{espacio2Guion data.key}}" role="button">
            {{data.key}}
        </a>
    </div>
    <ul class="collapse" id="{{espacio2Guion data.key}}">
        {{#each children}}
        <li class="tipo">
            <a class="recurso" href="#" onclick="listaRecursos()">
                {{data.codigo}}
            </a>
            <span><a class="Nuevo" onclick="nuevoRecurso()"></a></span>
            <span><a href=" {{data.url}}"><i class="fas fa-pen-alt">nuevo</i></a></span>
            <span><a href=" {{data.url}}"><i class="fas fa-pen-alt">update</i></a></span>
        </li>

        {{/each}}
    </ul>

</li>
{{/each}}