<!-- poner profundidad arbol como clase l2-->

{{#each children}}
    <li class="nav-item">
       {{#if children}}
            <span>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{id}}
                </a>
                <a id="listaRecursos" class="nav-link" data-tipo="{{data._id}}" href="#">{{id}}</a>
            </span>
            
            <ul class="nav-item">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{id}}
            </a>
                {{> ListaTipos}}
            </ul>
        {{else}}
          <span>
            <a id="listaRecursos" class="nav-link" data-tipo="{{data._id}}" href="#">{{id}}</a>
          </span>    

        {{/if}}
        <span><a href="{{data.url}}"><i class="fas fa-pen-alt"></i></a></span>
    </li>
{{/each}}

<!--
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
-->