<div class="row">
     
    <div class="col">
        <label for="paginaWeb" class="control-label">página Web:</label>
        <input type="text" class="form-control"  name="paginaWeb" value="{{paginaWeb}}">
    </div>
    <div class="col">
        <label for="email" class="control-label">Email:</label>
        <input type="text" class="form-control"  name="email" value="{{email}}">
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="telefono1" class="control-label">Teléfono 1:</label>
        <input type="text" class="form-control"  name="telefono1" value="{{telefono1}}">
    </div>
    <div class="col">
        <label for="telefono2" class="control-label">Teléfono 2:</label>
        <input type="text" class="form-control"  name="telefono2" value="{{telefono2}}">
    </div>
    <div class="col">
        <label for="fax" class="control-label">Fax:</label>
        <input type="text" class="form-control"  name="fax" value="{{fax}}">
    </div>

</div>
<div class="row">
    <div class="col">
        <label for="direccion" class="control-label">dirección:</label>
        <input type="text" class="form-control"  name="direccion" value="{{direccion}}">
    </div>
    <div class="col">
        <label for="DP" class="control-label">DP:</label>
        <input type="text" class="form-control"  name="DP" value="{{DP}}">
    </div>
    <div class="col">
        <label for="poblacion" class="control-label">Población:</label>
        <input type="text" class="form-control"  name="poblacion" value="{{poblacion}}">
    </div>
</div>

